<% include ./head %>

<div class="inner">

							
    <a href="index" class="logo">
        <span class="symbol"><img src="images/logo.jpeg" alt="" /></span><span class="title">ICT ACADEMY OF KERALA</span>
    </a>



</div>