<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>	
</head>
<body class="is-preloads">
   
			<div id="wrapper">

				
					<header id="header">
                        <% include ./header %>
                    </header>
          
            <div id="main">
            <div class="inner">
            <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="services">Services</a></li>
                
                  </ul>
                </div>
                </div>
 
                <%- include(body); %>
					<footer id="footer">
                        <% include ./footer %>
                        </footer>
</body>
</html>